.details-container {
  background-color: #f8f8f8;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}


.buttons-actions {
  margin-top: 10px;
}


.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.return-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
